* {
    margin: 0;
    
}

.container {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 600px;
    margin: auto;
    text-align: center;
    padding-top: 0;
    margin-top: 0;
    
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.image {
    background-image: url(./Img/selfie.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    width: 600px;
    margin: 0;
    background-color: white;
    top: 0;
}


.my-name {
    margin-bottom: 0;
    margin-top: 10px;
}
.info-title {
    margin-top: 0;
    color: orangered;
}

h3 {
    margin: 15px;
}

.email-info {
    border-radius: 4px;
   padding: 8px 12px;
   margin-bottom: 30px;
    width: 50%;
    border: none;
    font-size: 15px;
    color: black;
    background-color: white;
    
    
}
.email-info:hover {
    color: white;
    background-color: orangered;
}

.footer-icons {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    /* justify-content: space-around; */
}

a {
    margin: 10px;
}

.about-div, .interests-div {
    text-align: left;
    padding: 25px;
    letter-spacing: 1.5px;
   text-align: justify;
}

h1 {
    margin-bottom: 5px;
}